html,
body {
  margin: 0;
  background-color: rgba(242, 242, 250);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.app-body {
  display: flex;
}

.component-body {
  flex: 1;
  flex-grow: 1;
  width: 100%;
}

.component-body-sidebar-active {
  padding-left: 180px;
  display: block;
}

.component-body-sidebar-hidden {
  padding-left: 0px;
}

.App-loader {
  border: 4px solid #DFDFDF;
  border-radius: 50%;
  border-top: 4px solid #757575;
  width: 45px;
  height: 45px;
  -webkit-animation: spin-loader 1s linear infinite;
  animation: spin-loader 1s linear infinite;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 40%;
  left: 50%;
}

.Graph-loader {
  border: 4px solid #DFDFDF;
  border-radius: 50%;
  border-top: 4px solid #757575;
  width: 45px;
  height: 45px;
  -webkit-animation: spin-loader 1s linear infinite;
  animation: spin-loader 1s linear infinite;
  margin: auto;
  z-index: 1;
  position: relative;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Safari */
@-webkit-keyframes spin-loader {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin-loader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
